.main {
    display: grid;
    justify-items: center;
}

.formCont {
    max-width: 800px;
    display: grid;
}

.formPage {
    display: grid;
    gap: 1rem;
}

.formPage>div {
    display: grid;
}

.formPageButton {
    padding: .5rem;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
}

.requiredInputsCont {
    border-right: 3px solid orange;
    border-bottom: 3px solid orange;
    padding-right: 1rem;
    padding-bottom: 1rem;
}