@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
zindex rules

nav: 99
popout: 999
important: 1000
*/

:root {
    --color1: #e52b50;
    --color2: #F4F7FC;
    --color3: #0582f0;

    --bg1: #252628;

    --shade1: #ddd;
    --shade2: #777;
    --shade3: #aaa;
    --shade4: #111;

    --fontWeightM: 500;

    --fontSizeEL: 2.3rem;
    --fontSizeL: 2rem;
    --fontSizeM: 1.3rem;
    --fontSizeR: 1rem;
    --fontSizeS: .7rem;

    --iconSizeL: 3rem;
    --iconSizeS: 1.2rem;
}

html {
    scroll-behavior: smooth;
}

/* element styels */
.noScrollBar::-webkit-scrollbar {
    display: none;
}

*,
*::before,
*::after {
    /* border: 1px solid red !important; */
}

*::-webkit-scrollbar-thumb {
    background-color: var(--bg1);
}

*::-webkit-scrollbar {
    height: .2rem;
    width: .2rem;
}

*::-webkit-scrollbar-track {
    background-color: #ffffff;

}

body {
    font-size: var(--fontSizeR);
}

h1 {
    font-weight: bold;
    font-size: var(--fontSizeL);
    text-transform: capitalize;
}

h2 {
    font-size: var(--fontSizeM);
    font-weight: bold;
}

h3 {
    font-weight: bold;
}

p {
    /* max-width: 50ch; */
}

svg {
    width: 1rem;
    aspect-ratio: 1/1;
    transition: scale 600ms;
}

svg:hover {
    scale: 1.1
}

input,
textarea {
    padding: 1rem;
    background-color: var(--color2);
    border-radius: .2rem;
    border: 1px solid #ddd;
}

input:focus,
textarea:focus {
    background-color: #fff;
    outline: none;
}

.mainButton {
    background-color: var(--color1);
    border-radius: .5rem;
    text-transform: uppercase;
    color: #fff;
    padding: 1rem 2rem;
    transition: filter 400ms;
    white-space: nowrap;
}

.mainButton:hover {
    filter: brightness(.8);
}

.mainButton:disabled {
    opacity: .5;
}

.secondaryButton {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: .2rem;
    text-transform: uppercase;
    color: #fff;
    padding: 1rem 2rem;
    transition: background-color 400ms, color 400ms;

}

.secondaryButton>svg {
    fill: #fff
}

.secondaryButton:hover {
    background-color: #fff;
    color: #000;
}

.secondaryButton:hover>svg {
    fill: #000
}


.thirdButton {
    text-transform: capitalize;
    background-color: var(--color2);
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding-left: 1rem;
    transition: background-color 400ms, color 400ms;
}


.thirdButton svg {
    fill: #fff
}

.thirdButton>div {
    background-color: var(--color1);
    transition: background-color 400ms;
}

.thirdButton:hover>div {
    background-color: #000
}


.thirdButton:hover {
    background-color: var(--color1);
    color: #fff;
}

.thirdButtonHovering>div {
    background-color: #000
}


.thirdButtonHovering {
    background-color: var(--color1);
    color: #fff;
}



section {
    padding: 2rem 1rem;
}




/* custom styels */

.resizeSvg>svg {
    width: 100%;
    aspect-ratio: 1/1;
}


.highlight {
    color: var(--color1);
    fill: var(--color1);
}

.hoverHighlight:hover {
    transition: color 400ms, fill 400ms;
}

.hoverHighlight:hover {
    color: var(--color1);
    fill: var(--color1);
}

.noDisplay {
    display: none;
}

.fadeIn {
    animation: fadeIn calc(var(--fadeTime, 1s)) both;
}

.closeButton {
    transition: color 200ms, rotate 200ms;
}

.closeButton:hover {
    color: var(--color1);
    rotate: 10deg;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.slideInCont {
    overflow: hidden;
}

.slideIn {
    position: relative;
    animation: slideIn 1s both;
    transform-origin: bottom left;
}

@keyframes slideIn {
    0% {
        translate: 0 100%;
    }

    100% {
        translate: 0 0%;
    }
}

.slideFromRight {
    position: relative;
    animation: slideFromRight 1s both;
}

@keyframes slideFromRight {
    0% {
        translate: 100vw 0;
    }

    100% {
        translate: 0 0;
    }
}

.slideFromLeft {
    position: relative;
    animation: slideFromLeft 1s both;
}

@keyframes slideFromLeft {
    0% {
        translate: -100vw 0;
    }

    100% {
        translate: 0 0;
    }
}



.supportingTitle1 {
    text-transform: uppercase;
    position: relative;
    justify-self: flex-start;
}

.supportingTitle1::before {
    content: "";
    position: absolute;
    top: -0.5rem;
    left: 0;
    width: 100%;
    border-top: solid 2px #fff;
    text-transform: uppercase;
}

.supportingTitle2 {
    text-transform: uppercase;
    color: var(--color1);
    font-weight: bold;
}

.snap {
    scroll-snap-type: x mandatory;
}

.snap>* {
    scroll-snap-align: start;
}








.reset * {
    all: unset;
    display: revert;
    box-sizing: border-box;
}

.reset img,
.reset svg {
    display: block;
}

.reset img {
    overflow: hidden;
}

.reset ul,
.reset ol,
.reset li {
    list-style: none;
}

.reset a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.reset .material-symbols-outlined {
    cursor: pointer;
}







.hide {
    display: none !important;
}

.hoverUnderline:hover {
    text-decoration: underline;
}